Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
BEFORE THE ANY CODE TYPE  "#" THEN OUR CODE IS CONVERTED INTO A COMMENTS.
THEN THIS CODE IS WORKING AS A COMMENTS.
TYPES OF COMMENTS : SINGLE LINE COMMENTS,MULTI LINE COMMENTS
EX # a = "Hello world"
# b = "Datascience is one of the most popular field"

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
VARIABLE IS USED FOR A ASSIGNING THE CODE.
EX
a = "NOTHING IS IMPOSSIBLE" 
IN A ABOVE EXAMPLE a IS A VARIABLE.
YOU CAN TAKE ANY ALPHABATE INSTEAD OF a VARIABLE.

Q3. How do you convert one data type to another in Python?

In [18]:
a = "90"

In [19]:
type(a)

str

In [21]:
b = int(a)

In [22]:
type(b)

int

In [ ]:
EXPLANATION : convert "90" type <class 'str'> to 90 type <class 'int'>

Q4. How do you write and execute a Python script from the command line?

In [ ]:
TAKE A ANY VARIABLE IN COMMAND LINE & TAKE A ANY DATA TYPES IN VARIABLE SUPPOSE WE TAKE A STRING.
THEN TYPE A CTRL ENTER THEN AUTOMATICALLY EXECUTE A PYTHON SCRIPT.
FOR Eg.
m = "Hello world"

In [27]:
m = "Hello world"

In [28]:
print(m)

Hello world

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [38]:
my_list = [1, 2, 3, 4, 5]

In [41]:
sub_list = my_list[1:3]

In [42]:
sub_list

[2, 3]

 Q6.What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
COMPLEX NUMBER IS CONTANING REAL VALUE AND IMAJINARY VALUE.
IN MATHEMATICS COMPLEX NUMBER CAN BE WRITEN AS  2+4i
BUT IN PYTHON INSTEAD OF "i" WE USE "J".
Eg, 5+7j
5 IS A REAL PART AND 7J IS A IMAJINARY PART IN COMPLEX NUMBERS.

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [44]:
age = 25

In [49]:
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [48]:
price = 9.99

In [50]:
print(price)

9.99

In [52]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [53]:
name = "Rohit Kamlakar Shewale"

In [54]:
print(name)

Rohit Kamlakar Shewale

Q10. Given the string "Hello, World!", extract the substring "World".

In [1]:
a = "Hello, World!"

In [5]:
substring =a[7:12]

In [7]:
substring

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [10]:
a = "is_student"

In [15]:
is_student = True

In [13]:
type(is_student)

bool